{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "teach/smarton/base.html" %}

{% block page_title %}{{ _('Get smart on privacy') }}{% endblock %}
{% block page_desc %}{{ _('Get smart on privacy') }}{% endblock %}
{% block body_id %}smarton-privacy{% endblock %}
{% block body_class %}smarton theme-privacy{% endblock %}

{% block smarton_content %}
<article class="main">

  {{ smarton_navbar('Privacy', _('Get smart on privacy'), 'https://mzl.la/foo') }}

  <section class="section" id="ask">
    <div class="content">

      <h2 class="section-title">How important is privacy to you?</h2>

      <aside class="pullquote">
        <p class="quote">Privacy is at the heart of freedom and autonomy… It’s up to all of us to get involved and speak up so that it stays that way.</p>
        <p class="attribute">— Michelle De Mooy, Deputy Director, Consumer Privacy Project at the Center for Democracy &amp; Technology</p>
      </aside>

      <p class="section-intro">
        Before we get into understanding privacy and share some of our favorite related tips and tools with you, take a moment to ask yourself how important privacy is to you.
        If you haven’t given it much thought before, your answer might surprise you.
      </p>

      <div class="charts">
        <div class="chart chart1">
          <p>
            <span class="percentage">91<sup>%</sup></span>
            of adults think that consumers have lost control over how their personal information is used by companies
            <sup>*</sup>
          </p>
        </div>
        <div class="chart chart2">
          <p>
            <span class="percentage">61<sup>%</sup></span>
            say they <em>“would like to do more”</em> to protect their privacy
            <sup>*</sup>
          </p>
        </div>
        <p class="footnote"><sup>*</sup>(stats from Pew Research Internet Project)</p>
      </div>

    </div>
  </section>

  <section class="section" id="learn">
    <div class="content">

      <h2 class="section-title">Understanding privacy</h2>
      <p class="section-intro">While the Internet provides countless ways for us to share and connect, it can also open our personal information to others. Understanding privacy on the Web is the biggest step to being able to take better control of it.</p>

      <h3>“But I have nothing to hide”</h3>
      <p>This is a common misperception, but the truth is we all have things we don’t want everyone to know about. It’s why we use passwords and PINs on our bank, email and social media accounts. For more, watch Glenn Greenwald’s TED Talk, “Why Privacy Matters.”</p>

      <figure class="video">
        <img src="media/img/greenwald.jpg" alt="">
      </figure>

      <aside class="feature">
        <h3>Shine a light on who’s watching you</h3>
        <p><img src="media/img/lightbeam.png" alt="" style="float:left; margin: 0 20px 1em 0;"> Another key to understanding privacy is to know who’s tracking your online behaviour. If you’re a Firefox user, be sure to check out Lightbeam. It’s a simple and insightful add-on that reveals the full depth of the Web today, including parts that are not transparent to the average user.</p>
        <p><a href="#" class="go">Learn more about Lightbeam</a></p>
      </aside>

      <aside class="pullquote">
        <p class="quote">Our online houses are becoming increasingly built of glass… visible to whoever wants to look. Let’s ask ourselves: Do we want to live in a house or a fishbowl?</p>
        <p class="attribute">— Mitchell Baker, Mozilla</p>
      </aside>

    </div>
  </section>

  <section id="act" class="section section-act">
    <div class="content">

      <h2 class="section-title">What you can do</h2>
      <p class="section-intro">To help put you in control of your privacy, Mozilla has implemented a number of privacy features in Firefox. But even if you’re not a Firefox user there are a lot of simple things you can do to help keep yourself in control of your personal information online.</p>

      <h3>Easy ways anyone can protect their privacy</h3>

      <p>Stay Safe Online has several guides that can help, including social networking and mobile privacy tips and an easy reference for updating your privacy settings on the services many of us use every day.</p>

      <ul class="actions">
        <li class="act-safe"><a href="#">Stay safe on the go</a></li>
        <li class="act-social"><a href="#">Protect yourself on social networks</a></li>
        <li class="act-settings"><a href="#">Check your privacy settings</a></li>
      </ul>

      <h3>Privacy Features in Firefox</h3>

      <ul class="features-list">
        <li class="feature-dnt">
          <a href="#">
            <h4>Do Not Track</h4>
            <p>With this feature enabled, Firefox will tell advertising networks, websites and applications that you want to opt-out of tracking for purposes like behavioral advertising.</p>
          </a>
        </li>
        <li class="feature-forget">
          <a href="#">
            <h4>Forget Button</h4>
            <p>Want to delete your recent activity? Firefox makes it easy with the Forget button. Clear your history, from 5 minutes to 24 hours, in a single click.</p>
          </a>
        </li>
        <li class="feature-ddg">
          <a href="#">
            <h4>DuckDuckGo</h4>
            <p>A pre-installed search option in Firefox, DuckDuckGo gives you search results without tracking who you are or what you search for.</p>
          </a>
        </li>
        <li class="feature-addons">
          <a href="#">
            <h4>Privacy Add-ons</h4>
            <p>For even more more ways to protect your privacy on Firefox, check out our privacy add-ons collection.</p>
          </a>
        </li>
      </ul>

      <aside class="pullquote">
        <p class="quote">Each of us should have a meaningful choice about where and how our data is stored and managed.</p>
        <p class="attribute">— Mitchell Baker, Mozilla</p>
      </aside>
    </div>
  </section>

  <section id="discuss" class="section section-discuss">
    <div class="content">

      <h2 class="section-title">Start a conversation</h2>
      <p class="section-intro">At Mozilla, empowering people to be in control of their online lives is an important part of our mission — it guides our principles and it’s why we want everyone to be smart on privacy. If you’re feeling smarter already, share what you’ve learned here with your friends and family. It’s as easy as starting a conversation.</p>

      <h3>Here are some questions you can ask to get the ball rolling:</h3>

      <ol class="big-list">
        <li>
          <p>When you think about your online life, does privacy matter to you, and why? </p>
        </li>
        <li>
          <p>How much do you think about who has access to your online data (advertisers, corporations, governments, etc.)?</p>
        </li>
        <li>
          <p>How do you protect and manage your personal information on social networks? On your phone?'</p>
        </li>
      </ol>

      <aside class="pullquote">
        <p class="quote">Individuals’ security and privacy on the Internet are fundamental and must not be treated as optional.</p>
        <p class="attribute">— Mozilla Manifesto</p>
      </aside>

      <aside class="callout call-light">
        <h3>Spread the word</h3>
        <p>Feeling smart on privacy? Share this site with your friends and help them raise their awareness too.</p>
        <p class="share-cta"><a href="#" class="button">Share this site</a></p>
      </aside>

    </div>
  </section>
</article>

{% endblock %}

